body {
  margin: 0;
  background: rgb(255, 252, 229);
}

.header {
  width: 100%;
  background: rgb(255, 238, 190);
  border-bottom: 2px solid black;
}

.title {
  padding: 15px;
  font-size: 2em;
  font-family: monospace;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.input .input-element {
  padding: 15px 20px;
  width: 60%;
  font-size: 1.2em;
  margin-right: 10px;
}

input {
  outline: none;
}

.input .input-btn {
  padding: 15px 10px;
  width: 140px;
  font-size: 1.2em;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.input .input-btn:hover {
  background: rgb(41, 41, 41);
}

.input .input-btn:active {
  background: rgb(32, 32, 32);
}

.hide {
  display: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 70%;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item .item-text {
  font-size: 1.2em;
  width: 70%;
}

.edit-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid rgb(240, 240, 240);
}

.action-btn {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.action-btns {
  display: flex;
}

.edit-btn {
  background: rgb(88, 192, 88);
}

.remove-btn {
  background: rgb(192, 68, 68);
}

.update-btn {
  background: white;
  color: rgb(88, 192, 88);
  border: 1px solid rgb(88, 192, 88);
}

.error {
  border: 1px solid rgb(168, 1, 1);
  background: rgba(255, 166, 166, 0.233);
}

@media only screen and (max-width: 600px) {
  .input {
    font-size: 0.8em;
    margin: 30px 10px;
  }

  .input .input-element {
    padding: 13px 5px;
  }

  .input .input-btn {
    padding: 13px 0;
  }

  .action-btns {
    flex-direction: column;
  }

  .action-btn {
    margin: 5px 0;
  }

  .item {
    width: 80%;
    padding: 10px;
  }
}
